* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

/* colors */
strong {
  color: hsl(160deg, 100%, 30%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
}

.card {
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

/* layout */
.max-width-wrapper {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  max-width: 320px;
  margin: 64px 16px 64px;
}

.title {
  margin-bottom: 32px;
}

main {
  padding: 64px 0;
}

.card {
  padding: 8px 16px 0;
}

.indented-heading {
  margin-left: -32px;
  padding: 16px 32px;
  width: fit-content;
}
